html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: #555;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #162028;
    flex: 1;
    
}



header p{
    font-size: 3rem;
    margin: 0 auto 0 20rem;
    padding: 1rem;
    font-family: 'Viaoda Libre', serif;
    color: white;

}

header nav ul{
    display: flex;
    flex-direction: row;
    color: #425564;
    padding-right: 10rem;

    
}

header nav li{
    list-style-type: none;
    font-size: 2rem;
    text-transform: uppercase;
    padding-right: 1rem;
    padding-left: 10rem;
    
    
}
header nav li a{
    color: #425564;
    text-decoration: none;
}

header nav li a:hover{
    color: white;
    padding: 1rem;
    background-color: rgb(154, 174, 190);
    border-radius: 0.5rem;
}

.imagem-topo{
    width: 100%;
    
}
.imagem-topo img{
    width: 100%;
}

.descricao{
    text-align: center;
    width: 60%;
    margin: 7rem auto;
    font-size: 1.6rem;
}

.descricao h1{
    font-size: 4.5rem;
    font-family: 'Viaoda Libre', serif;
}

.descricao p{
    line-height: 2.5rem;
}

.bloco1{

    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.bloco1-fotos{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.bloco2{
    background-image: url(../imagens/bg_detalhe.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 0;
}

.bloco2-titulo{
    font-size: 6rem;
    font-family: 'Viaoda Libre', serif;
    padding-left: 15%;
    padding-top: 8%;
    text-transform: uppercase;

}

.bloco2-desc{
    font-size: 2rem;
    width: 60%;
    margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 7%;
}

footer{
    background-color: #0b171f;
    color: #6f8597;
    margin:0 auto;
    padding: 2%;
    text-align: center;
    font-size: 1.6rem;
}
